

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-bg {
  background: linear-gradient(45deg, #ff671f, #ffffff, #046838);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlighted-word {
  opacity: 0; 

}

.highlight-text {
  font-size: 1.5rem;
  text-align: left;
  font-size: 30px;
  padding: 0.75% 5%;
  color: #03254e;
  word-break: keep-all;
  margin-left: 0;
 
}

.highlight-heading{
  font-size: 40px;
  text-align: center;
/* Preamble */



font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 98%;
letter-spacing: 0.01em;


}


@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s forwards;
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

.hero-heading{
  /* Your Rights, Your Power. */



  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 90%;

  background: linear-gradient(258.44deg, #FAD47D 4.55%, #AB7529 42.13%, #D3A553 82.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.hero-text{
  /* An One-Stop Learning Solution about the Laws and Rights that protect you. */



font-family: 'Gothic A1';
font-style: normal;
font-weight: 250;
font-size: 27px;
line-height: 34px;
letter-spacing: 0.04em;

color: #FFFFFF;


}


.hero-button{
  /* Rectangle 2 */

/* Rectangle 2 */

background: #1B1818;
box-shadow: 0px 4px 4.5px rgba(0, 0, 0, 0.15);
border-radius: 20px;
width: 500px;


}

.hero-button-text{
  /* Get Started */



font-family: 'Gothic A1';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 34px;
letter-spacing: 0.04em;

background: linear-gradient(90deg, #FAD47D 0%, #AB7529 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;

}


.news-card{
  /* Rectangle 5 */



border-radius: 20px;
height: 300px;

}

hr{


width: 1110px;
height: 0px;





}

.news-text{
  /* News */




font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 98%;
letter-spacing: 0.01em;


margin-bottom: 2%;

}

.feature-heading{
  /* Upgrade your knowledge. */



font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
line-height: 90%;

background: linear-gradient(258.44deg, #FAD47D 4.55%, #AB7529 42.13%, #D3A553 82.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.feature-heading-2{
  font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
line-height: 90%;

color: white;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.feature-card{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.lady{
  margin-top: -160px;
}

.about-us-head{
  /* About Us */


font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 90%;

background: linear-gradient(258.44deg, #FAD47D 4.55%, #AB7529 42.13%, #D3A553 82.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.about-us-text{
  /* At LawAware, our mission is to empower Indian citizens by making legal knowledge accessible, engaging, and practical. Our platform simplifies complex legal concepts through articles, games and FAQs.LawAware aims to create a society where citizens are well-informed, legally empowered, and confident in navigating the laws that govern their lives.Knowledge of the law isn't just useful—it’s essential for everyday life. */

font-family: 'Gothic A1';
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 138%;
letter-spacing: 0.02em;

color: #FFF2F2;


}


/* Swiper Pagination */
.swiper-pagination-bullet {
  background-color: yellow !important; 
}

.swiper-pagination-bullet-active {
  background-color: orange !important; 
}


.feature-second{
  color: white;
}

.modal-content {
  max-height: 80vh; 
  overflow-y: auto;
}

.signin{
  background: linear-gradient(258.44deg, #FAD47D 4.55%, #AB7529 42.13%, #D3A553 82.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-text-fill-color: transparent;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body, html {
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  50% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}







@tailwind base;
@tailwind components;
@tailwind utilities;
